---
import Navbar from '../layouts/Navbar.tsx';
import Layout from '../layouts/Inside.astro';
import { $user } from '../controllers/auth';
import LineGraph from '../components/graphic/line.tsx';
import TitleBar from '../components/titles/titleBar.tsx';
import type { Measurement } from '../models/measurement';
import NoticeModal from '../components/modals/notice';

const URL_TRAFFIC = import.meta.env.PUBLIC_API_TRAFFIC; 

let modalError = { showModal: false, title: "", message: "" };
let data: Measurement[] = [];

if (Astro.request.method == "POST") {
    try {
        const dataForm = await Astro.request.formData();
        const initialDate = dataForm.get("initial") as string;
        const ultimateDate = dataForm.get("ultimate") as string;
        
        const res = await fetch(`${URL_TRAFFIC}/traffic/interface/1?init_date=${initialDate}T00:00:00Z&end_date=${ultimateDate}T23:59:59Z`);
        if (res.ok) {
            const res_data = await res.json();
            if (res_data) data = res_data;
        } else {
            modalError = { showModal: true, title: "Upss...", message: String(res) };
        }
    } catch(error) {
        modalError = { showModal: true, title: "Upss...", message: String(error) };
    }
}


---
<Layout title="Testing">
    {modalError.showModal && <NoticeModal showModal={true} title={modalError.title} message={modalError.message} client:load />}
    <main class="w-full h-full max-h-fit absolute flex flex-col items-center overflow-y-auto">
        <Navbar user={$user.get()!} client:load/>
        <div class="flex flex-row w-full h-full">
            <section class="w-1/4 h-full p-4 flex flex-col justify-center items-center gap-4">
                <TitleBar title='Peticion de Mediciones(?)' />
                <form method="POST" class="bg-white flex flex-col p-4 rounded-lg">
                    <div class="bg-white flex flex-col p-4 rounded-lg gap-2">
                        <label for="initial" class="text-blue-900 font-bold">Desde</label>
                        <input id="initial" name="initial" type="date" class="bg-gray-100 rounded-lg" required />
                    </div>
                    <div class="bg-white flex flex-col p-4 rounded-lg gap-3">
                        <label for="ultimate" class="text-blue-900 font-bold">Hasta</label>
                        <input id="ultimate" name="ultimate" type="date" class="bg-gray-100 rounded-lg" required />
                    </div>
                    <button class="font-semibold text-white bg-blue-800 rounded-full px-4 py-2 transition-all duration-300 ease-in-out hover:bg-blue-950" type="submit">Obtener</button>
                </form>
            </section>
            <section class="w-full h-full p-4 flex flex-col justify-center items-center gap-4">          
                <LineGraph title='Tráfico(?)' canvasID='lineChart1' data={data} client:load />
            </section>
        </div>
	</main>
</Layout>
