---
import Layout from "../layouts/Layout.astro";
import { formatDayField } from "../utils/format";
import ChartBps from "../components/dashboard/ui/ChartBps.astro";
import ChartMbps from "../components/dashboard/ui/ChartMbps.astro";
import ChartUser from "../components/dashboard/ui/ChartUser.astro";
import SummaryTraffic from "../components/dashboard/ui/SummaryTraffic.astro";
import SummaryVolume from "../components/dashboard/ui/SummaryVolume.astro";
import SummaryUsers from "../components/dashboard/ui/SummaryUsers.astro";
import SummaryFaults from "../components/dashboard/ui/SummaryFaults.astro";
const now = new Date();
const endDate = new Date(
  now.getFullYear(),
  now.getMonth(),
  now.getDate(),
  0,
  0,
  0,
  0
);

const initDate = new Date(endDate);
initDate.setFullYear(initDate.getFullYear() - 1);

const { traffic, trafficErr } = await fetch(
  `http://10.120.93.114/api/pon/traffic/summary?initDate=${initDate.toISOString()}&endDate=${endDate.toISOString()}`
)
  .then((res) => res.json())
  .then((traffic) => ({ traffic: formatDayField(traffic), trafficErr: null }))
  .catch((trafficErr) => ({ traffic: null, trafficErr }));

const { ontStatusState, onStatusErr } = await fetch(
  `http://10.120.93.114/api/ont/status/state?initDate=${initDate.toISOString()}&endDate=${endDate.toISOString()}`
)
  .then((res) => res.json())
  .then((status) => ({ ontStatusState: status, onStatusErr: null }))
  .catch((onStatusErr) => ({ ontStatusState: null, onStatusErr }));

console.log(traffic);
const ontStatus =
  ontStatusState &&
  ontStatusState.reduce((acc: any, curr: any) => {
    const dayKey = curr.day;
    if (!acc[dayKey]) {
      acc[dayKey] = {
        day: dayKey,
        ports_pon: 0,
        actives: 0,
        inactives: 0,
        unknowns: 0,
      };
    }

    // Add the current item's values to the respective day's totals
    acc[dayKey].ports_pon += curr.ports_pon;
    acc[dayKey].actives += curr.actives;
    acc[dayKey].inactives += curr.inactives;
    acc[dayKey].unknowns += curr.unknowns;

    return acc;
  }, {});
---

<Layout title="Dashboard">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <section class="w-full flex flex-wrap gap-5">
      <SummaryTraffic data={traffic} err={trafficErr} />
      <SummaryVolume data={traffic} err={trafficErr} />
      <SummaryUsers data={ontStatus} err={onStatusErr} />
      <SummaryFaults data={ontStatus} err={onStatusErr} />
    </section>
    <ChartBps traffic={traffic} err={trafficErr} />
    <ChartMbps traffic={traffic} err={trafficErr} />
    <ChartUser data={ontStatus} err={onStatusErr} />
  </main>
</Layout>
